doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title MongoDB Map-Reduce

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='inicial')
        h1 Map-Reduce
        h2 En MongoDb
        hr
        strong Mario Andrés Yepes C 
        p marioy47@gmail.com
        a(href='https://twitter.com/marioy47') @marioy47
        a(href="http://dazzet.co") dazzet.co

      section
        h2 (Muy) Breve repaso
        hr
        code.language-javascript.
          db.mi_col.find({nombre: "Mario"}, {}) //SELECT
          db.mi_col.insert({telefono: 4458900}) //INSERT
          db.mi_col.drop() // DROP TABLE
          db.mi_col.update( {}, {$set: {}}) // UPDATE
          db.mi_col.remove({}) //DELETE
          db.mi_col.ensureIndex({campo:1}) //INDEX
          
      section
        h2 Agregación
        p Operaciones que trabajan sobre varios registros de datos (colecciones) y regresan un resultado como un solo documento o un conjunto de documentos (colección)

      section
        h2  <a href="http://docs.mongodb.org/manual/reference/aggregation-commands-comparison/"> Tipos de agregaciones</a>
        ul
          li aggregate (nuevo)
          li <strong>mapReduce</strong>
          li group

      section
        h2 En bases de datos Relacionales
        hr
        pre
          code.language-sql.
            SELECT COUNT(*) GROUP BY nombre

      section
        h2 Map Reduce
        Es una forma de condensar grandes cantidades de datos en resultados 'Agregados'

      section
        h2 Datos iniciales
        hr
        pre
          code.language-javascript.
            [{
              cust_id: "A123",
              amount: 500,
              status: "A"
            },
            {
              cust_id: "A123",
              amount: 250,
              status: "A"
            },
            {
              cust_id: "B212",
              amount: 200,
              status: "A"
            },
            {
              cust_id: "A123",
              amount: 300,
              status: "D"
            }]


      section
        h2 Ejecutando Map-Reduce
        hr
        pre
          code.language-javascript.
            db.orders.mapReduce(
              function() { // Map
                emit(this.cust_id, this.amount); 
              },
              function(key, value) { // Reduce
                return Array.sum(values)
              },
              { 
                query: {status: "A"}, // Query
                out: "order_totals" // Output
              }
            );

      section 
        h2 Map
        hr
        code.language-javascript.
          var map_fn = function() {
            var key = this.nombre + ' ' + this.apellido;
            var value = {
              count: 1,
              subtotal: this.compra
            }
            emit (key, value);
          }

      section 
        h2 Reduce
        hr
        code.language-javascript.
          var reduce_fn = function(keys, values) {
              reduced = {conteo: 0, total: 0};

              for (var i = 0; i < values.length; i++) {
                  reduced.conteo += values[i].count;
                  reduced.total += values[i].subtotal;
              }

              return reduced;
          }

      section
        h2 Ejecución
        hr
        code.language-javascript.
          db.test.mapReduce(
              map_fn,
              reduce_fn,
              {
                  query: {},
                  out: { merge: "map2"},
              }
          );

      section
        h2 Scripts
        ul
          li <a href="ej/create.js">Create.js</a>
          li <a href="ej/map1.js">Map1.js</a>
          li <a href="ej/map2.js">Map2.js</a>
          li <a href="ej/map3.js">Map3.js</a>

      section
        h2 Gracias

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-sql.min.js')
    script(src='scripts/main.js')
    // endbuild
